
@{
    ViewBag.Title = "HienThiDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Tab Start -->
<div class="tab-slider nav-center nav-center-2">
    <ul class="best-product-tab-nav product-tab-nav nav justify-content-center align-items-center">
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab"
                href="#tab-fabric-2"><span></span></a>
        </li>
    </ul>
</div>

