    <ul class="nav-list">
        <li class="nav-item">
            @Html.ActionLink("Đơn hàng", "Index", "DonHang", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Doanh thu", "Index", "DonHang", null, new { @class = "nav-link" })
        </li>
        @*<li class="nav-item">
                <a href="/" class="nav-link">Import</a>
            </li>*@
    </ul>
